body {
    background-image: url("image/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    overflow:hidden;
}
h1 { text-align: center; }
fieldset { 
    display: inline; 
    background-color: rgba(190, 190, 190, .75);
}
table {
    margin: auto;
    border-collapse: collapse;
}
img {
    width:70px; 
    height:70px;
}
audio { width: 100px; }
#Spotifyframe {
    height:380px;
    width:300px;
    position: absolute;
    top: 60;
}
#chatroom {
    position: absolute;
    top:100;
    right: 5;
}
ul {
    padding:0;
    display: inline;
    list-style: none;
}
li { display: inline; }
li:after { content: " | "; }
li:last-child:after { content: ""; }
#action { visibility: hidden; }
#battle { visibility: hidden; }
#game, #content { 
    text-align: center;
    margin-left: 40px;
    margin-right:40px;
}
.player {
    z-index: 2;
}
.container {
    margin: auto;
    width: 100%;
    background-color: #ddd;
}
.stats {
    text-align: right;
    padding-right: 20px;
    line-height: 20px;
    color: white;
}
.statInfo{
  width: 45%;
  color: #FFFFFF;
  border: 6px solid #000000;
  padding: 5px;
  margin: auto;
  font-family: verdana;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  background-color: rgba(190, 190, 190, .60);
  
}
.title{
    font-size: 30px;
    font-family: Verdana;
    font-weight: 45;
    color: black;
    vertical-align: middle;
    -webkit-text-fill-color: white; /* keeping text visible on any background */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}
.potion{
    width:30px; 
    height:30px;
}
.energyContainer{
    display:flex;
    height:6%;
    width:60%;
    margin:auto;
    margin-top:30px;
    margin-bottom:20px;
}
.energy1 {
    width: 10%; 
    background-color: #b20000;
    flex:.5;
}
.energy2 {
    width: 10%; 
    background-color: #ff4949;
    flex:.5;
}
.energy3 {
    width: 10%; 
    background-color: #e28000;
    flex:.5;
}
.energy4 {
    width: 10%; 
    background-color: #ffad42;
    flex:.5;
}
.energy5 {
    width: 10%; 
    background-color: #d3cf00;
    flex:.5;
}
.energy6 {
    width: 10%; 
    background-color: #fffc63;
    flex:.5;
}
.energy7 {
    width: 10%; 
    background-color: #11d300;
    flex:.5;
}
.energy8 {
    width: 10%; 
    background-color: #1cff67;
    flex:.5;
}
.energy9 {
    width: 10%; 
    background-color: #1c85ff;
    flex:.5;
}
.energy10 {
    width: 10%; 
    background-color: #2bd8ff;
    flex:.5;
}
.buttons{
    text-align: center;
    width: 47%;
    display:flex;
    margin:auto;
    margin-bottom: 5px;
}
.logoutContainer{
  flex:1;
  margin:auto;
}
.tutorial{
  flex:.5;
  margin:auto;

}
SkyLight{
    font-family: verdana;
}
.text{
  /*overflow-y:scroll;*/
  height:500px;
  background-color: #5DBA84;
  border: 6px double #FFFFFF;
  padding: 10px;
  margin: 5px;
  font-family: verdana;
  line-height: 25px;
  text-align: center;
  overflow: scroll;
  vertical-align: text-top;
}
.bar{
    width:450px;
}
.drop{
    width:350px;
    height:150px;
}
.data{
    text-align: center;
    padding:12px;
}
.email{
    flex:2;
    margin:auto;
}
.greenButton{
  background: #5dba84;
  background-image: -webkit-linear-gradient(top, #5dba84, #58b07c);
  background-image: -moz-linear-gradient(top, #5dba84, #58b07c);
  background-image: -ms-linear-gradient(top, #5dba84, #58b07c);
  background-image: -o-linear-gradient(top, #5dba84, #58b07c);
  background-image: linear-gradient(to bottom, #5dba84, #58b07c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 15px 5px 15px;
  margin:5px;
}
.greenButton:hover {
  background: #69e09b;
  background-image: -webkit-linear-gradient(top, #69e09b, #5dba84);
  background-image: -moz-linear-gradient(top, #69e09b, #5dba84);
  background-image: -ms-linear-gradient(top, #69e09b, #5dba84);
  background-image: -o-linear-gradient(top, #69e09b, #5dba84);
  background-image: linear-gradient(to bottom, #69e09b, #5dba84);
  text-decoration: none;
}
#login {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    height:600px;
    width:600px;
    background-image: url("image/logo3.png");
    background-repeat: no-repeat;
    background-size:cover;
    display:block;
}
#login_buttons {
    transform: translateY(+200%);
    text-align: center;
    margin:auto;
    width: 200px;
}
#loginContainer {
  margin: 30px;

  background-color: #ffffff;
  border: 5px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
#spotifyContainer{
 margin-left: 50px;
 margin-right:30px;
 margin-top: 40px
}

#msgtext{
  padding:15px;
  width: 100%;
  margin: 5px 10px 0;
  background: #7CFC00;
  border-radius: 18px;
  color: black;   
  font-size: 18px;
  text-align: left;
}
#content{
    display:none;
}
#game{
    display:none;
}
#photo{
  width: 60px;
  height: 60px;
  background: #ccc;
  border-radius: 50%;

}
.scroll {
    background-color:white;
    height:100%;
    border: 18px solid #000000;
    opacity: 0.8;
    overflow-y:scroll;
    height: 45%;
    margin: 20px;
    width: 28%;
    position: fixed;
    top: 10%;
    right: -25;
    max-width: 100%;
    word-wrap: break-word;
    overflow-x: hidden;
    margin-right:40px;
    margin-left:40px;
}
.chatHeading{
    position: absolute;
    top: 2%;
    right:150;
    position: fixed
}
.scrollInput{
    position: absolute;
    top: 63%;
    right: 0;
    position: fixed;
    margin-right:40px;
    width:27%;
}
h3 {
font-family: Verdana;
font-size: 40px;
font-weight: 50;
line-height: 26.4px;
text-align: center;
color: black;
-webkit-text-fill-color: white; /* keeping text visible on any background */
-webkit-text-stroke-width: 3px;
-webkit-text-stroke-color: black;
}
.scrollPhoto {
    background-color: #ffffff;
    height: 50px;
    overflow: scroll;
    margin: 50px;
    border: 2px solid black;
    opacity: 0.8;
    text-align:center;
    padding:30px;
}
input:focus {
    border: 2px solid black;
    background-color:orange;
    color:black;
}  
p {
    font-family:Verdana;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    color: black;
}
