h1 {
    text-align: center;
}
table {
    margin: auto;
    border-collapse: collapse;
    
}
table table {
    width:100%;
    height: 100%;
    
}
.cell{
    width:70px; 
    height:70px;
    background-repeat:no-repeat;
    background-size:cover;
}

.settings-Container{
    margin-left: auto;
    margin-right: auto; 
    display: block;
    border:solid;
    color:blue;
}

.settings-GameName{
    color:blue;
}
audio { width: 100px; }