<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PokeGames</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    </head>
    <body>
        <audio name="player" src="../static/music/theme.mp3" controls></audio>
        <h1>GAME TITLE {{key}}</h1>
        <div class="menu"></div>
        <table>
        {% for row in grid %}
            <tr>
                {% for column in row %}
                    <td class="cell" style="background-image:url({{ url_for('static',filename='image/'+column+'.jpg') }});">
                        <table class="status">
                            <tr><td></td><td></td><td style="background-image:url({{ url_for('static',filename='image/clear.png') }});"></td></tr>
                            <tr><td></td><td style="background-image:url({{ url_for('static',filename='image/clear.png') }});"></td><td></td></tr>
                            <tr><td></td><td></td><td></td></tr>
                        </table>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </body>
</html>