<html>
    <head>
        <meta charset="UTF-8">
        <title>PokeGames Game Set-Up</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    </head>
    <body>
        <script type="text/javascript" src="/static/script.js"></script>
        <h1>PokeGames Set-Up</h1>
        <div class="settings-Container">
            <div class="settings-GameName">
                Game Name: 
                <input type="textarea" name="name"/></textarea>
            </div>
            <div class="settings-Players">
                <form>
                    Number of Players: 
                    <input type="number"  min="2" max="36" step="1" value="10">
                </form>
            </div>
            <div class="settings-Song">
                Starting Song: 
                <input type="textarea" name="song"/></textarea>
            </div>
        </div>
    </body>
</html>